.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;

  background-color: bisque;
}

.header {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.sidebar {
  width: 100%;
  height: 100%;
}

.dashBoard {
  width: 100%;
  height: 100%;
  background-color: brown;
}

.mainPage {
  border: 2px black solid;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.link-body-emphasis:hover {
  /* background-color: #0d6efd; */
  color: white !important;
  font-weight: bold;
}

.allAcc {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newCardInput {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 3px black solid;
}

.form-width {
  width: 50%;
}

.switchStack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.addTransaction {
  width: 50%;
  height: 60%;
  margin-left: 22%;
  margin-top: 8%;
  border: 20px black solid;
}

.rowMargin {
  margin: 20px 0px 40px 0px;
}

.switchStack .form-check-input {
  transform: scale(2.5);
  margin-left: 40px;
}

.modalPadding {
  padding: 50px 50px 50px 50px;
}

.length {
  width: 60%;
}
